* {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

@font-face {
    font-family: "Ubuntu";
    src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(/fonts/IBMPlexMono-Regular.ttf);
}

body {
    font-family: "Ubuntu";
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    width: 1550px;
    height: 50px;
    background-color: #292f36;
    border-bottom: solid 1px #43454d;
}

.header__search {
    border-radius: 10px;
    padding: 3px;
    margin-right: 75px;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292f36;

}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 855px;
    height: 32px;
    padding: 0px;
    color: #a8aab3;
}

li a:hover {
    color: #12f7d6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292f36;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292f36;
    padding: 0px;

}

.hero__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 100px;
}

.hero__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #12f7d6;
    margin-top: 100px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    margin: 0 50px;
    background-color: #292f36;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-width: 4px;
    border-color: #ffffff;
    border-style: solid;
}

.Alexey {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    height: 50px;
    padding: 0px;
}

.AlexeyT {
    color: #a8aab3;
}

.Alexeyy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    height: 85px;
    color: #a8aab3;
    padding: 0px;
}

.Alexeyyy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #12f7d6;
    height: 50px;
    padding: 0px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 56px;
    padding: 16px 32px;
    background-color: #292f36;
    border-width: 2px;
    border-color: #12f7d6;
    color: #ffffff;
    border-style: solid;
    border-radius: 32px;
    transition: 0.3s ease-in-out;
}

.button:hover {
    transform: scale(0.98);
    background-color: #12f7d6;
    color: #000000;
}

.hero__textH {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.hero__hello {
    font-size: 50px;
}

.hero__helloH {
    height: 80px;
}

.hero__webdev {
    height: 50px;
    width: 950px;
    color: #a8aab3;
}

.hero__talk {
    font-size: 35px;
    color: #12f7d6;
}

h1 {
    font-family: "IBM Plex Mono";
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 855px;
    height: 32px;
    padding: 0px;
}

.about__me {
    background-image: url(/images/About\ me.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__me__p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 367px;
    padding: 16px 40px;
    font-size: 70px;
    margin-left: 100px;
    margin-bottom: 50px;
    background-color: #292f36;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 4px;
    border-color: #12f7d6;
    border-style: solid;
}

.about__me__hello {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 880px;
    margin-left: 100px;
    padding: 24px 40px;
    background-color: #292f36;
    border-radius: 40px;
    color: #a8aab3;
}

.about__me__img {
    display: flex;
    width: 300px;
    margin-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.skill {
    background-image: url(/images/Skills.png);

}

.logo__textS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-size: 50px;
    color: #12f7d6;
    height: 75px;
}

.below__the__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75px;
    color: #a8aab3;
}

.web__container {
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
}

.web__dev__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    padding: 16px 24px;
    background-color: #98faec;
    color: #292f36;
    border-radius: 10px;
}

.app__dev__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    padding: 16px 24px;
    background-color: #98faec;
    color: #292f36;
    border-radius: 10px;
}

.html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 40px;
    background-color: #e54f26;
    border-radius: 80px;
}

.css {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 40px;
    background-color: #0c73b8;
    border-radius: 80px;
}

.js {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 40px;
    background-color: #e7a020;
    border-radius: 80px;
}

.react {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 40px;
    background-color: #28a9e0;
    border-radius: 80px;
}

.html__css__js__react {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px;
    margin: 0 240px;
    padding-bottom: 100px;
}

.works {
    background-image: url(/images/Works.png);
}

.logo__textW {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #12f7d6;
    height: 75px;
    padding-top: 100px;
}

.below__the__works {
    display: flex;
    justify-content: center;
    height: 75px;
    color: #a8aab3;
}

.works__view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.works__textWV {
    height: 35px;
    text-align: center;
    font-size: 25px;
    transition: 0.3s ease-in-out;
    border-bottom: solid 3px #ffffff;
}

.works__textWV:hover {
    color: #12f7d6;
}

.works__img {
    width: 750px;
    padding-top: 50px;
}

.blogs {
    background-color: #292f36;
}

.logo__textB {
    display: flex;
    justify-content: center;
    font-size: 50px;
    height: 75px;
    padding-top: 100px;
    color: #12f7d6;
}

.below__the__blogs {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    border-bottom: solid 3px #43454d;
    color: #a8aab3;
}

.blogs__view {
    display: flex;
    padding-bottom: 50px;
    border-bottom: solid 3px #43454d;
}

.blogs__img {
    display: flex;
    padding-left: 100px;
    margin-top: 50px;
}

.blogs__read {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 50px;
    padding-right: 50px;
}

.blogs__web {
    display: flex;
    font-size: 50px;
    color: #12f7d6;
    margin-bottom: 20px;
    margin-top: 50px;
}

.blogs__dev {
    display: flex;
    margin-bottom: 20px;
    color: #a8aab3;
}

.blogs__textBW {
    transition: 0.3s ease-in-out;
}

.blogs__textBW:hover {
    color: #12f7d6;
}

.blogs__stats {
    display: flex;
    align-items: center;
    height: 75px;
}

.blogs__webdev__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 24px;
    padding: 4px 8px;
    background-color: #43454d;
    border-radius: 16px;
    margin-right: 20px;
}

.blogs__text__stats {
    margin: 0 20px;
}

.blogs__date__stats {
    margin: 0 20px;
}

.blogs__time__stats {
    margin: 0 20px;
}

.blogs__view__sub {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 50px;
}

.button__BVS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 56px;
    padding: 16px 32px;
    background-color: #292f36;
    border-width: 2px;
    border-color: #12f7d6;
    color: #ffffff;
    border-style: solid;
    border-radius: 32px;
    transition: 0.3s ease-in-out;
}

.button__BVS:hover {
    transform: scale(0.98);
    background-color: #12f7d6;
    color: #000000;
}

.contact {
    background-color: #1b1f23;
}

.logo__textC {
    display: flex;
    justify-content: center;
    font-size: 50px;
    height: 75px;
    padding-top: 100px;
    color: #12f7d6;
}

.below__the__contact {
    display: flex;
    justify-content: center;
    height: 75px;
    color: #a8aab3;
}

.send {
    display: flex;
    justify-content: center;
    height: 100px;
}

.sendM {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 20px;
    padding: 16px 40px;
    color: #12f7d6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 2px;
    border-color: #12f7d6;
    border-style: solid;
}

.enter__your {
    display: flex;
    justify-content: space-around;
    margin: 0 250px;
    height: 100px;
}

.enter__nameC {
    color: #12f7d6;
    height: 30px;
}

.enter__nameCI {
    background-color: #1b1f23;
    border: 0;
    border-bottom: solid #12f7d6 1px;
    color: white;
    padding: 3px;
    width: 400px;
}

.enter__nameCI:focus {
    outline: none;
}

.enter__emailC {
    color: #12f7d6;
    height: 30px;
}

.enter__emailCI {
    background-color: #1b1f23;
    border: 0;
    border-bottom: solid #12f7d6 1px;
    color: white;
    padding: 3px;
    width: 400px;
}

.enter__emailCI:focus {
    outline: none;
}

.enter__yourM {
    display: flex;
    justify-content: center;
    height: 100px;
}

.enter__messageC {
    color: #12f7d6;
    height: 30px;
}

.enter__messageCI {
    background-color: #1b1f23;
    border: 0;
    border-bottom: solid #12f7d6 1px;
    color: white;
    width: 910px;
    padding: 3px;
}

.enter__messageCI:focus {
    outline: none;
}

.contact__send__message {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.button__send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 56px;
    padding: 16px 32px;
    background-color: #1b1f23;
    border-width: 2px;
    border-color: #12f7d6;
    color: #ffffff;
    border-style: solid;
    border-radius: 32px;
    transition: 0.3s ease-in-out;
}

.button__send:hover {
    transform: scale(0.98);
    background-color: #12f7d6;
    color: #000000;
}