* {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

@font-face {
    font-family: "Ubuntu";
    src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(/fonts/IBMPlexMono-Regular.ttf);
}

body {
    font-family: "Ubuntu";
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292f36;
    color: white;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 855px;
    height: 32px;
    padding: 0px;
}

li a:hover {
    color: #12f7d6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    background-color: #292f36;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292f36;
    padding: 0px;
}

.hero__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #12f7d6;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: #292f36;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 4px;
    border-color: #ffffff;
    border-style: solid;
}

.Alexey {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    height: 50px;
    padding: 0px;
}

.Alexeyy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    height: 85px;
    color: #ffffff;
    padding: 0px;
}

.Alexeyyy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #12f7d6;
    height: 50px;
    padding: 0px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 56px;
    padding: 16px 32px;
    background-color: #ffffff;
    border-radius: 32px;
    transition: 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #cbcbcb;
}

h1 {
    font-family: "IBM Plex Mono";
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 855px;
    height: 32px;
    padding: 0px;
}

.about__me {
    background-image: url(/images/About\ me.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__me__p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 367px;
    padding: 16px 40px;
    font-size: 70px;
    background-color: #292f36;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 4px;
    border-color: #12f7d6;
    border-style: solid;
}

.about__me__hello {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 880px;
    padding: 24px 40px;
    background-color: #292f36;
    border-radius: 40px;
}

.skill {
    background-image: url(/images/Skills.png);
}

.logo__textS {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: #12f7d6;
    height: 75px;
}

.below__the__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75px;
}

.web__container {
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
}

.web__dev__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    padding: 16px 24px;
    background-color: #98faec;
    color: #292f36;
    border-radius: 10px;
}

.app__dev__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    padding: 16px 24px;
    background-color: #98faec;
    color: #292f36;
    border-radius: 10px;
}